<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0" metadata-complete="false">

    <display-name>ivko.project</display-name>
   <!---->
    <!--<listener>-->
        <!--<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>-->
    <!--</listener>-->
    <!--<filter>-->
        <!--<filter-name>hiddenHttpMethodFilter</filter-name>-->
        <!--<filter-class>com.luxoft.ivko.web.filter.HiddenHttpMethodFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>hiddenHttpMethodFilter</filter-name>-->
        <!--<url-pattern>*</url-pattern>-->
    <!--</filter-mapping>-->
    <!--<servlet>-->
        <!--<servlet-name>indexPage</servlet-name>-->
        <!--<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>-->
        <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>indexPage</servlet-name>-->
        <!--<url-pattern>/</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<session-config>-->
    <!--<session-timeout>60</session-timeout>-->
    <!--</session-config>-->
    <!--<mime-mapping>-->
    <!--<extension>css</extension>-->
    <!--<mime-type>text/css</mime-type>-->
    <!--</mime-mapping>-->
    <!--<mime-mapping>-->
    <!--<extension>html</extension>-->
    <!--<mime-type>text/html</mime-type>-->
    <!--</mime-mapping>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>default</servlet-name>-->
    <!--<url-pattern>*.css</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>default</servlet-name>-->
    <!--<url-pattern>*.js</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<listener>-->
        <!--<listener-class>com.luxoft.ivko.web.listener.ApplicationLifeCycleListener</listener-class>-->
    <!--</listener>-->
    <!--<error-page>-->
        <!--<error-code>404</error-code>-->
        <!--<location>/error</location>-->
    <!--</error-page>-->
    <!--<error-page>-->
        <!--<exception-type>java.lang.Throwable</exception-type>-->
        <!--<location>/error</location>-->
    <!--</error-page>-->
    <!--<error-page>-->
    <!--<error-code>500</error-code>-->
    <!--<location>/WEB-INF/views/index.jsp</location>-->
    <!--</error-page>-->
</web-app>